# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc
*.pyo

# =====================
# Environment files
# =====================
.env

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
